<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Ia troti de langa tn</title>
  </head>
  <body>
    <h1>Uiteti Coordonatele coi:</h1>
    <h2 id="show"></h2>
    <ul id="bikeList"></ul>
  </body>
  <script src="js/coords.js" type="module"></script>
</html>
